html, body {
	width: 100%;
	height: 100%;
	border: 0px;
	padding: 0px;
	margin: 0px;
	background-color: black;
	overflow:hidden;
	font-family: 'Cardo', serif;
	font-size: 18px;
	line-height: 22px;
}
html, body {
	/*cursor:none;*/
}

a {
	color:#fff;
	text-decoration: none;
}

a:hover {
	color:#fff;
	text-decoration: underline;
}

a:visited {
	color:#fff;
	text-decoration: none;
}

.nounder:hover {
	text-decoration: none;
}

/* Dark overlay*/
#overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);

	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	position: absolute;
	z-index: 105;
}

/* Fallback underlay */
.underlay {
	width: 100%;
	height: 100%;
	z-index: 102;
	position: absolute;
}

/* Credits */
#creditsContainer {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 110;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.credits {
	width:660px;
	height:180px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;

	color:#fff;
	/*padding: 28px;*/
	/*cursor:none;*/

	-webkit-transition: opacity 2.5s ease-in-out;
	-moz-transition: opacity 2.5s ease-in-out;
	-ms-transition: opacity 2.5s ease-in-out;
	-o-transition: opacity 2.5s ease-in-out;
	transition: opacity 2.5s ease-in-out;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    opacity: 0;
}

.credit {
	float: left;
	width: 160px;
	text-align: left;
	padding-top:12px;
}

.credit_small {
	width: 100px;
	padding-top:4px;
}

#cloud  {
	visibility: hidden;
	display: none;
	bottom: 0%;
	position: absolute;
	left:-26px;
}

.title {
	font-size: 32px;
	line-height: 34px;
	width: 180px;
	padding:0px;
}

.title_small {
	font-size:18px;
	line-height:20px;
	width: 110px;
	padding:0px;
}

.credits_small {
	font-size: 12px;
	line-height: 14px;
	position: relative;
	width: 410px;
	top: 50px;
	position: relative;
	width: 410px;
	left: 50px;
	margin: 0;
}
.w {
	letter-spacing:-3px;
}
.ws {
	letter-spacing:-2px;
}

.wallace {
	left: -13px;
	position: relative;
}
.wallace_small {
	left: -8px;
	position: relative;
}

#spacer {
	width:auto;
	height: 24px;
}

.calltoaction {
	z-index: 120;
	position: absolute;
	top: 10%;
	font-size:32px;
	color:#fff;
	padding-left:auto;
	/*cursor:none;*/
	width:100%;
	text-align: center;

	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0;
}

.full {
	display: none;
	visibility: hidden;
}

#fullcredits {
	cursor: pointer;
}

#play, #lyrics {
	visibility: hidden;
	display: none;
	cursor: pointer;
}

#lyrics {
	text-align: left;
	top:auto;
	opacity: 0;
	font-size: 18px;
 	line-height: 20px;
 	top: 113px;
  	margin: 0;
}

#play:hover, #lyrics:hover {
	/*text-decoration: underline;*/
}